@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'TheSans';
    src: url('/fonts/TheSans-Plain.woff2') format('woff2'),
        url('/fonts/TheSans-Plain.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
